ul {
  display: grid;
  grid-template-columns: repeat(3, minmax(20rem, 1fr));
  row-gap: 2rem;
  column-gap: 2rem;
  padding: 1rem;
  list-style: none;
}

@media (max-width: 890px) {
  ul {
    grid-template-columns: repeat(2, minmax(20rem, 1fr));
  }
}

@media (max-width: 600px) {
  ul {
    grid-template-columns: repeat(1, minmax(20rem, 1fr));
  }
}