button {
  width: 60%;
  margin: auto;
  display: block;
  padding: 1.5rem;
  font-size: 1.8rem;
  background-color: #fff;
  border: 0.1rem solid black;
  margin-top: 2rem;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
}

button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}
